@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply rounded-md dark:text-[#f5f5f5] bg-secondary dark:bg-dark_secondary dark:focus:border-gray-200 focus:border-h_color dark:focus:border-2 border-2 border-transparent  block w-full p-2.5 ;
  }
  textarea{

    @apply rounded-md dark:text-[#f5f5f5] bg-secondary dark:bg-dark_secondary dark:focus:border-gray-200 focus:border-h_color dark:focus:border-2 border-2 border-transparent  block w-full p-2.5 ;
  }
}


html, body{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
  Ubuntu, Roboto, Droid Sans, Canatrell, Fira Sans, Neue, Helvetica, Sans-Serif;
}

body {
    @apply min-h-screen bg-primary text-text_color dark:bg-dark_primary dark:text-dark_text_color; 
}

.upload-snippet {
    width: 75%;
    margin-left: auto;
    background: white;
    padding: 5px;
    margin: 5px 0;
}
button,
[type="button"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}


.btn {
  position: relative;
  display: block;
  margin-right: 1.75rem;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
  padding: 0.25rem 1rem;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.16px;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.btn:after {
  position: absolute;
  top: 0;
  right: 0;
  --tw-translate-x: 20%;
  --tw-translate-y: -35%;
  --tw-rotate: -180deg;
  --tw-scale-x: 0;
  --tw-scale-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  --tw-content: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M8.87386 0.461548C8.94694 1.56756 9.02001 2.68223 9.33356 3.75354C9.6471 4.82485 10.2176 5.8593 11.137 6.57278C11.8473 7.08815 12.6637 7.46582 13.5369 7.6831C14.7342 8.00638 15.9576 8.24067 17.1957 8.38363C15.1164 8.81736 15.5195 8.70674 14.5883 8.96698C13.4662 9.27926 12.2733 9.66526 11.3256 10.3506C10.2129 11.1551 9.77673 12.2807 9.36653 13.4821C9.07185 14.3496 8.99644 14.4536 8.75127 16.1539C8.66404 14.6597 8.50135 14.0481 8.07229 13.057C7.72339 12.2546 7.36504 11.4306 6.70731 10.806C6.21496 10.3719 5.65082 10.0125 5.03591 9.7412C3.7001 9.0578 2.25267 8.57808 0.75 8.32073C2.01596 8.18193 3.29137 8.02793 4.49132 7.63974C5.69127 7.25155 6.83228 6.59879 7.55602 5.63591C8.62395 4.22846 8.66876 2.39164 8.87386 0.461548Z' fill='white' stroke='black' strokeWidth='1.5' strokeLinecap='square' strokeLinejoin='bevel' /%3E%3C/svg%3E");
  content: var(--tw-content);
}

.btn:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(208, 242, 36, var(--tw-bg-opacity));
  --tw-shadow: -4px 3px 0 0 black;
  --tw-shadow-colored: -4px 3px 0 0 var(--tw-shadow-color);
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)),
    var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.btn:hover:after {
  --tw-rotate: 0deg;
  content: var(--tw-content);
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

textarea, input { outline: none; }
