@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply min-h-screen font-ubuntu bg-primary text-text_color dark:bg-dark_primary dark:text-dark_text_color;


}

.upload-snippet {
    width: 75%;
    margin-left: auto;
    background: white;
    padding: 5px;
    margin: 5px 0;
}
